<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_learn4_aopSpringMvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_learn4_aopSpringMvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_learn4_aopSpring/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_learn4_aopSpring" />
        </element>
      </element>
    </root>
  </artifact>
</component>